[package]
name = "apple-codesign"
version = "0.22.0"
authors = ["Gregory Szorc <gregory.szorc@gmail.com>"]
edition = "2021"
rust-version = "1.64"
license = "MPL-2.0"
description = "Pure Rust interface to code signing on Apple platforms"
keywords = ["apple", "macos", "codesign"]
homepage = "https://github.com/indygreg/apple-platform-rs"
repository = "https://github.com/indygreg/apple-platform-rs.git"
readme = "README.md"

[[bin]]
name = "rcodesign"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.68"
aws-config = "0.53.0"
aws-sdk-s3 = "0.23.0"
aws-smithy-http = "0.53.1"
base64 = "0.21.0"
bcder = "0.7.1"
bitflags = "1.3.2"
bytes = "1.3.0"
clap = "4.1.1"
chrono = "0.4.23"
cryptographic-message-syntax = "0.20.0"
der = "0.6.1"
dialoguer = "0.10.3"
difference = "2.0.0"
digest = "0.10.6"
dirs = "4.0.0"
elliptic-curve = { version = "0.12.3", features = ["arithmetic", "pkcs8"] }
env_logger = "0.10.0"
filetime = "0.2.19"
glob = "0.3.1"
goblin = "0.6.0"
hex = "0.4.3"
log = "0.4.17"
md-5 = "0.10.5"
minicbor = { version = "0.19.0", features = ["derive", "std"] }
oid-registry = "0.6.1"
once_cell = "1.17.0"
p12 = "0.6.3"
p256 = { version = "0.11.1", default-features = false, features = ["arithmetic", "pkcs8", "std"] }
pem = "1.1.1"
pkcs1 = { version = "0.4.1", features = ["alloc", "std"] }
pkcs8 = { version = "0.9.0", features = ["alloc", "std"] }
plist = "1.4.0"
rand = "0.8.5"
rasn = "0.6.1"
rayon = "1.6.1"
regex = "1.7.1"
reqwest = { version = "0.11.14", default-features = false, features = ["blocking", "json", "rustls-tls"] }
ring = "0.16.20"
rsa = "0.7.2"
scroll = "0.11.0"
sha2 = "0.10.6"
semver = "1.0.16"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
serde_yaml = "0.9.17"
signature = "1.6.4"
simple-file-manifest = "0.11.0"
spake2 = "0.3.1"
spki = { version = "0.6.0", features = ["pem"] }
subtle = "2.4.1"
tempfile = "3.3.0"
thiserror = "1.0.38"
tokio = { version = "1.24.2", features = ["rt"] }
tungstenite = { version = "0.18.0", features = ["rustls-tls-native-roots"] }
uuid = { version = "1.2.2", features = ["v4"] }
x509 = "0.2.0"
x509-certificate = "0.17.0"
xml-rs = "0.8.4"
yasna = "0.5.1"
yubikey = { version = "0.7.0", optional = true, features = ["untested"] }
zeroize = { version = "1.5.7", features = ["zeroize_derive"] }
zip = { version = "0.6.3", default-features = false, features = ["deflate"] }
zip_structs = "0.2.1"

[dependencies.app-store-connect]
path = "../app-store-connect"
version = "0.1.0-pre"

[dependencies.apple-bundles]
path = "../apple-bundles"
version = "0.17.0-pre"

[dependencies.apple-flat-package]
path = "../apple-flat-package"
version = "0.13.0-pre"

[dependencies.apple-xar]
path = "../apple-xar"
version = "0.13.0-pre"

[target.'cfg(target_os = "macos")'.dependencies]
security-framework = { version = "2.8.0", features = ["OSX_10_12"] }

[dev-dependencies]
indoc = "1.0.8"
trycmd = "0.14.10"

[features]
default = []
smartcard = ["yubikey"]
