on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
  schedule:
    - cron: '12 15 * * *'
  workflow_dispatch:
jobs:
  exes:
    uses: indygreg/actions/.github/workflows/rust-exe.yml@c6d30fbd797895cf9eaafb5b6b8bd54358fba0e7
    with:
      actions_ref: "c6d30fbd797895cf9eaafb5b6b8bd54358fba0e7"
      bin: rcodesign
      extra_build_args_linux_gnu: '--all-features'
      extra_build_args_macos: '--all-features'
      extra_build_args_windows: '--all-features'
      just_bootstrap: true
      sccache_s3_bucket: apple-platform-rs-sccache
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  test-softhsm-signing:
    name: PKCS#11 Test
    uses: ./.github/workflows/sign-apple-exe-pkcs11.yml
    needs: [ exes ]
