on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
  schedule:
    - cron: '12 15 * * *'
  workflow_dispatch:
jobs:
  sphinx:
    strategy:
      fail-fast: false
      matrix:
        dir:
          - apple-codesign/docs
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.10'
      - name: Run Sphinx
        run: |
          python3.10 -m pip install Sphinx==5.1.1
          make -C ${{ matrix.dir }} html
