on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
  schedule:
    - cron: '12 15 * * *'
  workflow_dispatch:
jobs:
  build-and-test:
    uses: indygreg/actions/.github/workflows/rust-workspace-build-and-test.yml@c6d30fbd797895cf9eaafb5b6b8bd54358fba0e7
    with:
      actions_ref: "c6d30fbd797895cf9eaafb5b6b8bd54358fba0e7"
      msrv: "1.88.0"
      sccache_s3_bucket: apple-platform-rs-sccache
      no_default_features: true
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
