on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
  schedule:
    - cron: '12 15 * * *'
  workflow_dispatch:
jobs:
  build-and-test:
    uses: indygreg/actions/.github/workflows/rust-workspace-build-and-test.yml@aacf4321e814ace18fe44ef5b8ae213c7b13e460
    with:
      actions_ref: "aacf4321e814ace18fe44ef5b8ae213c7b13e460"
      msrv: "1.86.0"
      sccache_s3_bucket: apple-platform-rs-sccache
      no_default_features: true
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
