on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
  schedule:
    - cron: '12 15 * * *'
  workflow_dispatch:
jobs:
  build-and-test:
    uses: indygreg/actions/.github/workflows/rust-workspace-build-and-test.yml@1eaaf4707bbebceaecc842cd23245a007c31666a
    with:
      actions_ref: "1eaaf4707bbebceaecc842cd23245a007c31666a"
      msrv: "1.88.0"
      sccache_s3_bucket: apple-platform-rs-sccache
      no_default_features: true
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
